* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	background: #060ab2;
}

.memory-game {
	width: 640px;
	height: 640px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
}

.front-face {
	transform: rotateY(180deg);
}

.back-face {
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	border-radius: 1px;
	background: #1c7ccc;
	backface-visibility: hidden;
}

.card {
	width: calc(25% - 10px);
	height: calc(25% - 10px);
	margin: 1px;
	position: relative;
	transform-style: preserve-3d;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card.flip {
	transform: rotateY(180deg);
}

.card:active {
	transform: scale(0.97);
	transition: transform 0.2s;
}
